---
title: Armand Reitz
technologies: [ javascript, node, graphql, postgresql, react, aws, nginx, rest]
image: /assets/images/AR.png
---
<div style='display: flex; flex-direction: column; align-items: center;'>
  <div id="banner">
    <span id='auto-type' />
  </div>
  <h3 class='blue center-text'>Technologies I regularly work with:</h3>
  <div id="technologies">
    {% for technology in page.technologies %}
      <img class='technology-icon' alt="{{technology}}" src="/assets/images/technologies/{{technology}}.jpg" />
    {% endfor %}
  </div>
  
  {% include contact_me.html %}
</div>
<script type="text/javascript" src='/assets/js/ghost-type.js'></script>
<script>
  const gt = new GhostType({
    anchorEl: 'auto-type',
    nodes: [
      { text: 'armandrtz', typingDelay: 0, style: "color: #e34ee1" },
      { text: ' in ', typingDelay: 0 },
      { text: '~/armandreitz.com', typingDelay: 0, style: "color: #29ffb8" },
      { text: ': ', typingDelay: 0 },
      { text: 'Hey my name is Armand. I am a software developer. Welcome to my site.', typingDelay: [80, 150], pause: 1300 },
      { html: '<br/>', pause: 300 },
      { html: '<br/>', pause: 300 },
      { text: 'This site is a collection of my work, projects, and thoughts on various development related topics.', typingDelay: [80, 150] },
      { html: '<br/>', pause: 300 },
      { html: '<br/>', pause: 300 },
      { text: 'Other than coding I enjoy: ', typingDelay: [80, 150] },
      { text: 'studying languages ', typingDelay: [80, 150], pause: 500, backspace: { pause: 500, delay: [60, 100] } },
      { pause: 500, text: 'doing triathlons ', typingDelay: [80, 150], backspace: { pause: 500, delay: [60, 100] } },
      { text: 'making omelettes ', typingDelay: [80, 150], pause: 500, backspace: { pause: 500, delay: [60, 100] } },
      { text: 'kiteboarding ', typingDelay: [80, 150], pause: 500, backspace: { pause: 500, delay: [60, 100] } },
      { text: 'mountain biking ', typingDelay: [80, 150], pause: 500, backspace: { pause: 500, delay: [60, 100] }, jumpBack: 4 },
    ],
    cursor: { color: 'white' }
  });
  gt.start();
</script>