---
title: Projects
permalink: /projects
---
<div id='project-index'>
  <h1 id='project-index-title'>Projects</h1>
  <div id='project-list'>
    {% for project in site.projects %}
      <a class='project-thumbnail' href="{{ project.url }}">
        <img style='width: 100%;' src="{{ project.image }}" />
        <div class="project-thumbnail-title">{{ project.name }}</div>
        <!-- {% for tag in project.tags%}
          <div>{{tag}}</div>
        {% endfor %} -->
        <div>{{ project.description }}</div>
      </a>
    {% endfor %}
  </div>
</div>

