<div id='contact-info' >
  <h2 class='blue'>Contact Me:</h2>
  <h4>
    Email: <a href="mailto:armandrtz@gmail.com">armandrtz@gmail.com</a>
  </h4>
  <h4>
    Mobile: <a href="tel:+14084797422">+1 (408) 479 7422</a>
  </h4>
  <h4>
    Other: 
      <a href="https://github.com/acrtz">
        <img class='social-icon' src='/assets/images/github.svg' />
      </a>
      <a href="https://www.linkedin.com/in/acrtz/">
        <img class='social-icon' src='/assets/images/linkedin.svg' />
      </a>
      <a href="https://www.youtube.com/channel/UCMLVF378vWlMU4-WewiuVJw">
        <img class='social-icon' src='/assets/images/youtube.svg' />
      </a>
  </h4>
  <h2 class='blue'>Resume:
    <a class="resume-link" href="/assets/resume/Resume.docx">WORD</a>
    <a class="resume-link" href="/assets/resume/Resume.pdf">PDF</a>
  </h2>
</div>
