<nav>
  <a href='/' id='nav-name' class='link-inherit'>Armand Reitz</a>
  <div id='large-nav'>
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" class="nav-link {% if page.url == item.link %}active-nav{% endif %}">
      {{ item.name }}
    </a>
    {% endfor %}
  </div>
  <div id='small-nav'>
    <img id='burger' src='https://media.armandreitz.com/burger.svg'>
    <div id="small-nav-slide-out" class='closed'>
      {% for item in site.data.navigation %}
      <a href="{{ item.link }}" class="nav-link {% if page.url == item.link %}active-nav{% endif %}">
        {{ item.name }}
      </a>
      {% endfor %}
    </div>
  </div>
</nav>