<div style="line-height: 1.2em; margin: 5px; font-family: monospace, Courier; color: #424242; margin: 20px auto; padding: 20px; height: 200px; font-size: 20px;">
  <div id='writting-letter'></div>
</div>
<script src='/assets/js/ghost-type.js'></script>
<script>
  const gtwritingletter = new GhostType(
    [
      { text: `To Wom It May Conce`, typingDelay: [120, 280], backspace: { count: 15, delay: [80, 120] } },
      { text: `home it may concern,`, typingDelay: [120, 280] },
    ],
    'writting-letter',
    { loop: true }
  );
  gtwrittingletter.start();
</script>