.error-message {
  font-size: 20px;
  color: red;
  text-align: center;
  margin-top: 20vh;
}
.cradle-top {
  width: 100%;
  height: 20px;
  background-color: #5d5d5d;
  z-index: 1;
  position: absolute;
  border: 2px solid #9d9d9d;
  border-radius: 8px;
  top: -19px;
  left: 0;
}
.cradle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cradle-light {
  background-color: #d1d1d199;
  height: 5px;
  width: 5px; 
  border-radius: 50%;
  transform: translate(10px,5px);
}
.cradle-box {
  display: flex;
  position: relative;
  width: 220px;
  padding: 120px 0 50px 10px;
  box-sizing: border-box;
  margin-top: 40px;
  opacity: 0.8;
}
.cradle-ball {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #5d5d5d;
  background-color: #9d9d9d;
  position: relative;
  transform-origin: 50% -300%;
  box-shadow: 15px 45px 15px -15px #9d9d9d55, 15px 45px 15px -10px #9d9d9d44;
}
.cradle-ball:before {
  content: '';
  width: 2px;
  height: 125px;
  background-color: #5d5d5d;
  left: 18px;
  top: -125px;
  position: absolute;
}
.cradle-first-ball {
  @extend .cradle-ball;
  animation: firstball 0.8s alternate ease-in infinite;
}
.cradle-first-ball:before {
  content: '';
  width: 2px;
  height: 125px;
  background-color: #5d5d5d;
  left: 18px;
  top: -125px;
  position: absolute;
}
.cradle-last-ball {
  @extend .cradle-ball;
  animation: lastball 0.8s alternate ease-out infinite;
}
.cradle-last-ball:before {
  content: '';
  width: 2px;
  height: 125px;
  background-color: #5d5d5d;
  left: 18px;
  top: -125px;
  position: absolute;
}
@keyframes firstball {
  0%{
    transform: rotate(50deg);
    box-shadow: 75px 45px 15px -15px #9d9d9d55, 75px 45px 15px -10px #9d9d9d44;
  }
  50%{
    transform: rotate(0deg);
    box-shadow: 15px 45px 15px -15px #9d9d9d55, 15px 45px 15px -10px #9d9d9d44;
  }
}
@keyframes lastball {
  50%{
    transform: rotate(0deg);
    box-shadow: 15px 45px 15px -15px #9d9d9d55, 15px 45px 15px -10px #9d9d9d44;
  }
  100%{
    transform: rotate(-50deg);
    box-shadow: -65px 45px 15px -15px #9d9d9d55, -65px 45px 15px -10px #9d9d9d44;
  }
}
