@import 'navigation';
@import 'code-blocks';
@import 'index';
@import 'markdown';
@import 'ghost-type';
@import 'list-page';
@import 'content-page';
/****************************************
  GENERAL
*****************************************/
html {
  background-color: #fefefe;
  color: #404040;
  font-family: Menlo, Helvetica, Arial;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  max-width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  text-decoration: underline;
  color: #0276aa;
}
.link-inherit {
  text-decoration: none;
  color: inherit;
}
.min-margin {
  margin: 5px 0px;
}











