<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" type="image/svg" href="/favicon.svg">
  {% feed_meta %}
  {% seo %}
</head>

<body>
  {% include navigation.html %}
  {{ content }}
  <script type="text/javascript" src='/assets/js/nav.js'></script>
</body>

</html>