---
layout: default
---
<div id='content-page'>
  <div class="content-top">
    <img class="content-image" src="{{page.image}}">
    <div class="content-info">
      <div class='content-title'>{{ page.name }}</div>
      {% if page.website %}
        <a href="{{ page.website }}" rel="noopener noreferrer" target="_blank">{{ page.website }}</a>
      {% endif%}
      <div id='tags'>
        tags:
        {% for tag in page.tags %}
          <span class='tag'>{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {{ content }}
</div>
